@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow-Regular.woff2") format("woff2"), url("../fonts/PTSansNarrow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/PTSansNarrow-Bold.woff2") format("woff2"), url("../fonts/PTSansNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  background-color: #353535;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile Buttons */
.button {
  display: block;
  box-sizing: border-box;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f8f5f2;
  border: 1px solid #e5ddd5;
  transition: border-color 0.2s linear, background-color 0.2s linear, color 0.2s linear;
}
/* Mobile Wrappers */
.advantages__wrapper,
.news__wrapper,
.reviews__wrapper,
.works__wrapper,
.price__wrapper,
.appointment__wrapper,
.modal__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
/* Mobile — page-header */
.page-header {
  display: flex;
  flex-direction: column;
}
/* Mobile — page-header__logo-link */
.page-header__logo-link {
  height: 85px;
  text-align: center;
}
/* Mobile — page-header__logo-image */
.page-header__logo-image {
  width: 226px;
  height: 85px;
}
/* Mobile — main-navigation */
.main-navigation {
  position: relative;
  min-height: 51px;
  background-color: #826550;
  width: auto;
}
/* Mobile — main-navigation__toggle */
.main-navigation__toggle {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s linear;
}
.main-navigation__toggle:hover,
.main-navigation__toggle:active {
  background-color: #624530;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px #ffffff, 0 16px #ffffff;
}
.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px rgba(255, 255, 255, 0.3), 0 16px rgba(255, 255, 255, 0.3);
}
.main-navigation--opened .main-navigation__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(225deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-225deg);
}
.main-navigation--opened .main-navigation__toggle:active::before,
.main-navigation--opened .main-navigation__toggle:active::after {
  box-shadow: rgba(255, 255, 255, 0.3);
}
/* Mobile — main-navigation__list */
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Mobile — site-list */
.site-list {
  font-weight: bold;
}
/* Mobile — site-list__link */
.site-list__link {
  display: block;
  padding: 12px 21px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}
.site-list__link[href]:hover {
  background-color: #755a46;
}
.site-list__link[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}
/* Mobile — user-list__login */
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}
/* Mobile — user-list__login-icon */
.user-list__login-icon {
  position: absolute;
  top: 18px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}
/* Mobile — page-main */
.page-main--inner {
  display: block;
  color: #000000;
  background-color: #f8f5f2;
}
/* Mobile — stats */
.stats {
  margin-bottom: 42px;
  width: auto;
}
/* Mobile — stats__header */
.stats__header {
  padding: 30px 40px 25px 40px;
  color: #000000;
  background-color: #ffffff;
}
/* Mobile — stats__slogan */
.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* Mobile — stats__intro */
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
/* Mobile — stats__legend */
.stats__legend {
  display: block;
  font-size: 20px;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  margin-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.stats__legend sup {
  top: 0.25em;
  font-size: 90%;
}
/* Mobile — stats__list */
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
/* Mobile — stats__item */
.stats__item {
  color: #ffffff;
  background-color: #404040;
}
.stats__item:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__item:nth-child(3) {
  background-color: #353535;
}
.stats__item:nth-child(4) {
  background-color: #404040;
}
/* Mobile — stats__value */
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  vertical-align: top;
}
.stats__value {
  position: relative;
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  position: absolute;
  top: 10px;
  margin-left: 5px;
}
/* Mobile — stats__field */
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
/* Mobile — slider__input */
.slider__input {
  display: none;
}
/* Mobile — advantages */
.advantages {
  position: relative;
  padding-bottom: 13px;
}
.advantages::after {
  position: absolute;
  content: "";
  height: 34px;
  left: 0;
  right: 0;
  bottom: -34px;
  background-image: url("../img/svg/gray-decoration.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — advantages__list */
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Mobile — advantages__item */
.advantages__item {
  position: relative;
  padding-top: 125px;
}
.advantages__item::before {
  position: absolute;
  width: 95px;
  top: 0;
  left: calc(50% - (95px / 2));
}
.advantages__item--fast::before {
  content: url("../img/svg/advantage-fast.svg");
  height: 94px;
}
.advantages__item--cool::before {
  content: url("../img/svg/advantage-cool.svg");
  height: 88px;
}
.advantages__item--expensive::before {
  content: url("../img/svg/advantage-expensive.svg");
  height: 91px;
}
.advantages__item:nth-child(n) {
  display: none;
}
/* Mobile — advantages__title */
.advantages__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* Mobile — advantages__description */
.advantages__description {
  min-height: 108px;
  margin: 0;
  margin-bottom: 21px;
  font-size: 20px;
  text-align: center;
}
/* Mobile — slider__toggles */
.slider__toggles {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Mobile — slider__toggle */
.slider__toggle {
  display: block;
  width: 8px;
  height: 8px;
  margin-left: 23px;
  box-sizing: border-box;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.slider__toggle:first-child {
  margin-left: 0;
}
.slider__toggle--reviews {
  border-color: #353535;
}
/* Mobile — news */
.news {
  padding-top: 68px;
  color: #000000;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}
/* Mobile — news__wrapper */
.news__wrapper {
  padding-bottom: 28px;
}
/* Mobile — news__title */
.news__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* Mobile — news__list */
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Mobile — news__item */
.news__item {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5ddd5;
}
.news__item:nth-child(n + 3) {
  display: none;
}
.news__item:nth-child(2) {
  border-bottom: none;
}
/* Mobile — news__link */
.news__link {
  display: flex;
  align-items: flex-start;
  color: #000000;
  text-decoration: none;
}
.news__link:hover .news__description {
  color: #826550;
  text-decoration: underline;
}
.news__link:hover .news__date {
  background-color: #826550;
}
.news__link:hover .news__date::before {
  border-top-color: #826550;
}
.news__link:active .news__description {
  color: #6a4d38;
}
.news__link:active .news__date {
  background-color: #6a4d38;
  color: rgba(255, 255, 255, 0.3);
}
.news__link:active .news__date::before {
  border-top-color: #6a4d38;
}
/* Mobile — news__day */
.news__day {
  display: block;
  margin-bottom: -10px;
  font-size: 30px;
  line-height: 30px;
}
/* Mobile — news__date */
.news__date {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 20px;
  padding: 6px 11px 0 11px;
  min-width: 50px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.news__date::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: none;
  border-top-color: #000000;
  border-left-width: 25px;
  border-right-width: 25px;
  transition: border-top-color 0.2s linear;
}
/* Mobile — news__description */
.news__description {
  margin: 0;
  transition: color 0.2s linear;
}
/* Mobile — news__to-all */
.news__to-all {
  padding: 13px 29px;
}
.news__to-all:hover {
  border-color: #d5c9bd;
}
.news__to-all:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}
/* Mobile — reviews */
.reviews {
  position: relative;
  padding-bottom: 18px;
  color: #000000;
  background-color: #f8f5f2;
}
.reviews::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -34px;
  height: 34px;
  background-image: url("../img/svg/white-decoration.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — reviews__wrapper */
.reviews__wrapper {
  padding-top: 27px;
}
/* Mobile — reviews__title */
.reviews__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
/* Mobile — reviews__item */
.reviews__item {
  min-height: 147px;
  position: relative;
  margin: 0;
  padding-left: 70px;
  margin-bottom: 23px;
}
.reviews__item:nth-child(n) {
  display: none;
}
/* Mobile — reviews__author-picture */
.reviews__author-picture {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  width: 50px;
  height: 51px;
  left: 0;
  top: 9px;
  border: 1px solid #e5ddd5;
}
/* Mobile — reviews__author-image */
.reviews__author-image {
  display: block;
  width: 50px;
}
/* Mobile — reviews__author-name */
.reviews__author-name {
  display: block;
  margin-bottom: 12px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
}
/* Mobile — reviews__author-text */
.reviews__author-text {
  margin: 0;
  text-align: left;
}
/* Mobile — reviews__previous */
/* Mobile — reviews__next */
.reviews__previous,
.reviews__next {
  display: none;
}
/* Mobile — reviews-input */
#reviews-input-1:checked ~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked ~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked ~ .reviews__toggles label[for="reviews-input-3"] {
  background-color: #353535;
}
#reviews-input-1:checked ~ .reviews__list .reviews__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__list .reviews__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__list .reviews__item:nth-child(3) {
  display: block;
}
/* Mobile — reviews__write */
.reviews__write {
  display: none;
}
/* Mobile — page-title */
.page-title {
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #f8f5f2;
}
/* Mobile — page-title__title */
.page-title__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
/* Mobile — page-title__button */
.page-title__button {
  display: none;
}
/* Mobile — works */
.works {
  position: relative;
  padding-bottom: 48px;
  background-color: #f8f5f2;
}
.works::after {
  position: absolute;
  content: "";
  height: 34px;
  left: 0;
  right: 0;
  bottom: -34px;
  background-image: url("../img/svg/white-decoration.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
/* Mobile — works-item */
.works-item {
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #e5ddd5;
}
.works-item:last-child {
  margin-bottom: 0;
}
.works-item--work-of-month .works-item__image-wrapper {
  position: relative;
  height: 480px;
}
.works-item--work-of-month .works-item__image-wrapper::before {
  position: absolute;
  content: "Работа месяца";
  width: 160px;
  padding: 12px 5px 11px 23px;
  box-sizing: border-box;
  left: 0;
  bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #826550;
}
.works-item--work-of-month .works-item__image-wrapper::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 50px;
  box-sizing: border-box;
  left: 160px;
  bottom: 30px;
  border: 25px solid transparent;
  border-top-color: #826550;
  border-bottom-color: #826550;
  border-left-width: 0;
  border-right-width: 6px;
}
.works-item--work-of-month .works-item__image {
  height: 480px;
}
/* Mobile — works-item__image-wrapper */
.works-item__image-wrapper {
  margin: 0;
  height: 176px;
  line-height: 0;
  text-align: center;
  background-color: #e6ded6;
  overflow: hidden;
}
/* Mobile — works-item__image */
.works-item__image {
  height: 176px;
}
/* Mobile — works-item__review */
.works-item__review {
  padding: 20px;
  padding-bottom: 0;
}
/* Mobile — works-item__title */
.works-item__title {
  margin: 0;
  margin-bottom: 17px;
  font-size: 24px;
  text-align: left;
}
/* Mobile — works-item__text */
.works-item__text {
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
}
/* Mobile — works-item__parameter-list */
.works-item__parameter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Mobile — works-item__parameter-item */
.works-item__parameter-item {
  position: relative;
  margin-right: 26px;
  margin-bottom: 24px;
  padding-left: 35px;
  font-size: 16px;
  text-transform: uppercase;
}
.works-item__parameter-item::before {
  position: absolute;
  content: "";
  left: 0;
}
.works-item__parameter-item--mustache {
  padding-left: 44px;
}
.works-item__parameter-item--haircut::before {
  top: calc(50% - (20px / 2));
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/scissors-icon.svg");
}
.works-item__parameter-item--shaving::before {
  top: calc(50% - (21px / 2));
  width: 23px;
  height: 21px;
  background-image: url("../img/svg/shaving-icon.svg");
}
.works-item__parameter-item--mustache::before {
  top: calc(50% - (12px / 2));
  left: -12px;
  width: 45px;
  height: 12px;
  background-image: url("../img/svg/mustache-icon.svg");
}
/* Mobile — price */
.price {
  position: relative;
  padding-top: 70px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: #353535;
}
.price::after {
  position: absolute;
  content: "";
  height: 34px;
  left: 0;
  right: 0;
  bottom: -34px;
  background-image: url("../img/svg/gray-decoration.svg");
  background-repeat: no-repeat;
}
/* Mobile — price__list */
.price__list {
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
}
/* Mobile — price__title */
.price__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* Mobile — price__index */
.price__index {
  display: none;
}
/* Mobile — price__field */
.price__field {
  padding-bottom: 20px;
  font-weight: bold;
}
.price__field--mobile {
  font-weight: normal;
}
/* Mobile — price__option */
.price__option {
  display: none;
}
.price__option--mobile {
  display: block;
  font-weight: normal;
}
/* Mobile — price__value */
.price__value {
  padding-bottom: 20px;
  text-align: right;
  vertical-align: top;
}
/* Mobile — price__offer */
.price__offer {
  position: relative;
  padding: 20px 45px 20px 112px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.price__offer::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 57px;
  top: calc(50% - (57px / 2));
  left: 20px;
  background-image: url("../img/svg/clock-icon.svg");
  background-size: 58px 57px;
  background-repeat: no-repeat;
}
/* Mobile — price__offer-text */
.price__offer-text {
  margin: 0;
  font-size: 20px;
  text-align: left;
}
/* Mobile — appointment */
.appointment {
  position: relative;
  padding-bottom: 40px;
}
.appointment::after {
  position: absolute;
  content: "";
  height: 34px;
  left: 0;
  right: 0;
  bottom: -34px;
  background-image: url("../img/svg/white-decoration.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Mobile — form__fieldset */
.form__fieldset {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: 0;
}
/* Mobile — form__title */
.form__title {
  margin-bottom: 38px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
/* Mobile — form__beard-container */
.form__beard-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
}
.form__initials-container,
.form__contacts-container {
  margin-bottom: 32px;
}
.form__field,
.form__textarea {
  display: block;
  width: 100%;
  padding: 14px 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}
.form__field::placeholder,
.form__textarea::placeholder {
  color: #000000;
}
.form__field:hover,
.form__textarea:hover {
  border-color: #d5c9bd;
}
.form__field:active,
.form__textarea:active,
.form__field:focus,
.form__textarea:focus {
  border-color: #999999;
}
.form__field {
  margin-bottom: 6px;
}
.form__field:last-child {
  margin-bottom: 0;
}
.form__textarea {
  min-height: 112px;
  height: 112px;
  resize: none;
}
.form__radio-label {
  position: relative;
  display: block;
  min-width: 50px;
  margin-right: 36px;
  padding-top: 60px;
  padding-bottom: 118px;
  line-height: 24px;
  text-align: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.form__radio-label:nth-child(3n) {
  margin-right: 0;
}
.form__radio-label::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  top: 0;
  left: calc(50% - (50px / 2));
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
  transition: border-color 0.2s linear, background-color 0.2s linear;
}
.form__radio-label:hover::before {
  border-color: #d5c9bd;
}
.form__radio-label:active::before {
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}
.form__radio-label:focus {
  outline: 2px solid black;
  background-color: aqua;
}
.form__radio:checked + .form__radio-label::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  top: calc(50px / 2 - (18px / 2));
  left: calc(50% - (18px / 2));
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  border-radius: 50%;
  transition: border-color 0.2s linear;
}
.form__radio:checked + .form__radio-label:hover::after,
.form__radio:checked + .form__radio-label:active::after {
  border-color: #d5c9bd;
}
.form__radio:focus + .form__radio-label::before {
  outline: 2px solid black;
}
.form__radio-label--admiral {
  background-image: url("../img/svg/beard-admiral.svg");
  background-position: bottom calc(118px - 59px) center;
}
.form__radio-label--logger {
  background-image: url("../img/svg/beard-logger.svg");
  background-position: bottom calc(118px - 78px) center;
}
.form__radio-label--polar {
  background-image: url("../img/svg/beard-polar.svg");
  background-position: bottom calc(118px - 88px) center;
}
.form__radio-label--boyar {
  background-image: url("../img/svg/beard-boyar.svg");
  background-position: bottom calc(118px - 108px) center;
}
.form__radio-label--wise {
  background-image: url("../img/svg/beard-wise.svg");
  background-position: bottom calc(118px - 115px) center;
}
.form__checkbox-label {
  position: relative;
  display: block;
  padding: 9px 0 9px 60px;
  cursor: pointer;
}
.form__checkbox-label::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  top: calc(50% - (36px / 2));
  left: 0;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  transition: border-color 0.2s linear, background-color 0.2s linear;
}
.form__checkbox-label:hover::before {
  border-color: #d5c9bd;
}
.form__checkbox-label:active::before {
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}
.form__checkbox:checked + .form__checkbox-label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: calc(50% - (16px / 2));
  left: 7px;
  background-image: url("../img/svg/mark-icon.svg");
  background-repeat: no-repeat;
}
.form__checkbox:focus + .form__checkbox-label::before {
  outline: 2px solid #000000;
  border-radius: 4px;
}
.form__button {
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  background-color: #826550;
  border: 0;
}
.form__button:hover {
  background-color: #6a4d38;
}
.form__button:active {
  background-color: #6a4d38;
  color: rgba(255, 255, 255, 0.3);
}
.form__button:disabled {
  background-color: #aeaeae;
}
/* Mobile — page-footer */
.page-footer {
  padding-top: 70px;
  padding-bottom: 24px;
  background-color: #292929;
}
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
.page-footer__contacts {
  margin-bottom: 26px;
}
.contacts__title,
.contacts__address {
  display: block;
  margin: 0;
  text-align: center;
}
.contacts__title {
  margin-bottom: 16px;
  padding: 0 20px;
}
.contacts__address {
  margin-bottom: 21px;
  padding: 0 58px;
}
.contacts__phone {
  display: block;
  margin: 0 20px;
  padding: 15px 0;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #292929;
  border: 1px solid #3f3f3f;
  transition: border-color 0.2s linear, color 0.2s linear;
}
.contacts__phone:hover {
  border-color: #545454;
}
.contacts__phone:active {
  background-color: #252525;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}
.contacts__phone-mobile {
  display: none;
}
.social__title {
  display: none;
}
.social__list {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
}
.social__item {
  width: 107px;
  height: 101px;
  box-sizing: border-box;
  border: 1px solid #3f3f3f;
  transition: border 0.2s linear;
}
.social__item:nth-child(2),
.social__item:nth-child(3) {
  margin-left: -1px;
}
.social__item:hover {
  border-color: #545454;
  z-index: 1;
}
.social__item:active {
  background-color: #252525;
  border-color: transparent;
}
.social__item:active .social__link::after {
  opacity: 0.3;
}
.social__link {
  position: relative;
  display: block;
  width: 107px;
  height: 101px;
}
.social__link::after {
  position: absolute;
  content: "";
  width: 107px;
  height: 101px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s linear;
}
.social__link--vk::after {
  background-image: url("../img/svg/vk-icon.svg");
}
.social__link--facebook::after {
  background-image: url("../img/svg/facebook-icon.svg");
}
.social__link--instagram::after {
  background-image: url("../img/svg/instagram-icon.svg");
}
.copyright__text {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.copyright__link {
  margin: 0 20px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #292929;
  border-color: #3f3f3f;
}
.copyright__link:hover {
  border-color: #545454;
}
.copyright__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
  border-color: transparent;
}
.modal__login {
  display: none;
  width: 320px;
  margin: 135px auto 30px auto;
  padding-top: 30px;
  padding-bottom: 37px;
  color: #000000;
  background-color: #f8f5f2;
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
  z-index: 3;
}
.modal__login--show {
  display: block;
}
.modal__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.modal__text {
  margin: 0;
  margin-bottom: 27px;
  text-align: center;
}
.modal__login-label,
.modal__password-label {
  position: relative;
  display: block;
}
.modal__login-label::after,
.modal__password-label::after {
  position: absolute;
  content: "";
  right: 15px;
  background-repeat: no-repeat;
}
.modal__login-label::after {
  width: 15px;
  height: 15px;
  top: calc(50% - (15px / 2));
  background-image: url("../img/svg/user-icon.svg");
}
.modal__password-label {
  margin-bottom: 26px;
}
.modal__password-label::after {
  width: 15px;
  height: 17px;
  top: calc(50% - (17px / 2));
  background-image: url("../img/svg/password-icon.svg");
}
.modal__login-field,
.modal__password-field {
  display: block;
  width: 100%;
  padding: 9px 50px 9px 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  transition: border-color 0.2s linear;
}
.modal__login-field::placeholder,
.modal__password-field::placeholder {
  color: #000000;
}
.modal__login-field:hover,
.modal__password-field:hover {
  border-color: #d5c9bd;
}
.modal__login-field:active,
.modal__password-field:active {
  border-color: #999999;
}
.modal__login-field:focus,
.modal__password-field:focus {
  border-color: #999999;
}
.modal__login-field {
  margin-bottom: 6px;
}
.modal__restore-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
}
.modal__checkbox-label {
  position: relative;
  margin-right: auto;
  padding-left: 48px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
}
.modal__checkbox-label::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  top: -2px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  transition: border-color 0.2s linear, background-color 0.2s linear;
}
.modal__checkbox-label:hover::before {
  border-color: #d5c9bd;
}
.modal__checkbox-label:active::before {
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}
.modal__checkbox:focus + .modal__checkbox-label::before {
  outline: 2px solid #000000;
  border-radius: 4px;
}
.modal__checkbox:checked + .modal__checkbox-label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  top: calc(50% - (16px / 2));
  left: 6px;
  background-image: url("../img/svg/mark-icon.svg");
  background-repeat: no-repeat;
}
.modal__restore {
  line-height: 30px;
  color: #000000;
}
.modal__button-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.modal__submit,
.modal__close {
  display: block;
  width: 130px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.modal__submit {
  color: #ffffff;
  background-color: #826550;
  border: none;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.modal__submit:hover {
  background-color: #6a4d38;
}
.modal__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}
.modal__submit:disabled {
  background-color: #aeaeae;
  cursor: default;
}
.modal__submit-tablet {
  display: none;
}
.modal__close {
  color: #000000;
  background-color: #f8f5f2;
  border: 1px solid #e5ddd5;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}
.modal__close:hover {
  border-color: #d5c9bd;
}
.modal__close:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
  border-color: #d5c9bd;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow-y: auto;
}
.overlay--show {
  display: block;
}
@media (max-width: 767px) {
  .main-navigation--closed .site-list__link {
    display: none;
  }
  .main-navigation--closed .site-list__link--active {
    display: block;
  }
  .main-navigation--closed .site-list__link--active {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-navigation--closed .user-list__item {
    display: none;
  }
  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 1;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-navigation--opened .main-navigation__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
    min-height: 0;
  }
  .main-navigation--nojs .main-navigation__wrapper::before {
    display: none;
  }
  .main-navigation--nojs .site-list__link {
    display: block;
  }
  .main-navigation--nojs .site-list__link--active {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-navigation--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
  #advantages-input-1:checked ~ .advantages__toggles label[for="advantages-input-1"],
  #advantages-input-2:checked ~ .advantages__toggles label[for="advantages-input-2"],
  #advantages-input-3:checked ~ .advantages__toggles label[for="advantages-input-3"] {
    background-color: #ffffff;
  }
  #advantages-input-1:checked ~ .advantages__list .advantages__item--fast,
  #advantages-input-2:checked ~ .advantages__list .advantages__item--cool,
  #advantages-input-3:checked ~ .advantages__list .advantages__item--expensive {
    display: block;
  }
}
/* Tablet */
@media (min-width: 768px) {
  /* Tablet — page-header */
  .page-header {
    background-color: #000000;
  }
  /* Tablet — page-header__logo-link */
  .page-header__logo-link {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .page-header__logo-link--inner {
    height: 215px;
  }
  /* Tablet — page-header__logo-image */
  .page-header__logo-image {
    display: block;
    width: 384px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
  /* Tablet — main-navigation */
  .main-navigation {
    width: auto;
    margin: 0;
    background-color: #000000;
  }
  /* Tablet — main-navigation__toggle */
  .main-navigation__toggle {
    display: none;
  }
  /* Tablet — main-navigation__wrapper */
  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 84%;
    max-width: 960px;
  }
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__link {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background: none;
    border: none;
  }
  .site-list__link--active {
    position: relative;
  }
  .site-list__link--active::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;
    height: 3px;
    background-color: #826550;
  }
  .site-list__link[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__link[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
  .user-list {
    width: 60px;
  }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
    fill: #ffffff;
  }
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
  .stats {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -184px;
  }
  .stats__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 130px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    margin-right: auto;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
    text-align: left;
    width: 50%;
  }
  .stats__intro {
    margin-top: 5px;
    text-align: left;
    width: 37.5%;
    padding: 0;
    padding-left: 30px;
  }
  .stats__legend--top {
    display: block;
    color: rgba(0, 0, 0, 0.3);
    width: 50%;
  }
  .stats__list {
    display: flex;
  }
  .stats__body {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__item {
    display: block;
    padding: 25px 35px;
    padding-bottom: 28px;
    width: 50%;
    box-sizing: border-box;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
  }
  .stats__field br {
    display: none;
  }
  .stats__legend--bottom {
    display: none;
  }
  .advantages {
    padding-top: 43px;
    padding-bottom: 23px;
  }
  .advantages::after {
    bottom: -68px;
    height: 68px;
  }
  .advantages__wrapper {
    width: 768px;
    padding: 0 64px;
  }
  .advantages__item {
    min-height: 94px;
    margin-bottom: 42px;
    padding-top: 0;
    padding-bottom: 40px;
  }
  .advantages__item::before {
    position: static;
    display: flex;
    float: left;
    padding: 0 35px 0 0;
  }
  .advantages__item::after {
    position: absolute;
    content: "";
    left: 4px;
    right: 4px;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .advantages__item:last-child::after {
    display: none;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__item:nth-child(n) {
    display: block;
  }
  .advantages__item:last-child {
    padding-bottom: 0;
  }
  .advantages__title,
  .advantages__description {
    text-align: left;
  }
  .advantages__description {
    min-height: auto;
    margin-bottom: 0;
  }
  .advantages__toggles {
    display: none;
  }
  .news {
    padding-top: 115px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5ddd5;
  }
  .news__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 768px;
    padding: 0 64px;
  }
  .news__title {
    order: 1;
    font-size: 40px;
    text-align: left;
  }
  .news__list {
    order: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .news__item {
    width: 320px;
    box-sizing: border-box;
    padding-bottom: 0;
    border-bottom: none;
  }
  .news__description {
    padding-right: 30px;
  }
  .news__to-all {
    order: 2;
    margin-top: -10px;
  }
  .reviews {
    padding-top: 40px;
  }
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    padding: 0 64px;
  }
  .reviews__title {
    order: 1;
    margin: 0;
    font-size: 40px;
    text-align: left;
  }
  .reviews__write {
    order: 2;
    display: block;
    margin-top: -10px;
    padding: 13px 29px;
  }
  .reviews__write:hover {
    border-color: #d5c9bd;
  }
  .reviews__write:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
    border-color: #d5c9bd;
  }
  .reviews__list {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 36px;
  }
  .reviews__item {
    box-sizing: border-box;
    width: 540px;
    min-height: 160px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-left: 140px;
    border: 1px solid #e5ddd5;
  }
  .reviews__author-picture,
  .reviews__author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .reviews__author-picture {
    top: 38px;
    left: 30px;
    border: none;
  }
  .reviews__previous,
  .reviews__next {
    position: relative;
    display: block;
    padding: 0 24px;
    background-color: #f8f5f2;
    border: 1px solid #e5ddd5;
    transition: border-color 0.2s linear, background-color 0.2s linear;
  }
  .reviews__previous::before,
  .reviews__next::before {
    position: absolute;
    content: "";
    top: calc(50% - (12px / 2));
    left: calc(50% - (12px / 2));
    border: 6px solid transparent;
    border-left: 6px solid #000000;
    border-left-width: 12px;
    border-right: none;
    transition: opacity 0.2s linear;
  }
  .reviews__previous:hover,
  .reviews__next:hover {
    border-color: #d5c9bd;
  }
  .reviews__previous:active,
  .reviews__next:active {
    background-color: #d5c9bd;
  }
  .reviews__previous:active::before,
  .reviews__next:active::before {
    opacity: 0.3;
  }
  .reviews__previous {
    order: -1;
    margin-right: -1px;
  }
  .reviews__previous::before {
    transform: rotate(180deg);
  }
  .reviews__next {
    margin-left: -1px;
  }
  .reviews__toggles {
    order: 4;
    margin: 0 auto;
    margin-top: -5px;
    padding: 0 25px;
    background-color: #f8f5f2;
    z-index: 1;
  }
  .page-main--inner {
    position: relative;
    padding-top: 64px;
  }
  .page-main--inner::before {
    position: absolute;
    content: "";
    height: 41px;
    left: 0;
    right: 0;
    top: -41px;
    background-image: url("../img/svg/white-decoration-inner-page.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .page-title {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    margin-bottom: 38px;
    padding: 0 64px;
    box-sizing: border-box;
  }
  .page-title__title {
    font-size: 40px;
  }
  .page-title__button {
    display: block;
    margin-top: -10px;
    padding: 13px 35px;
  }
  .page-title__button:hover {
    border-color: #d5c9bd;
  }
  .page-title__button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5c9bd;
    border-color: #d5c9bd;
  }
  .works {
    padding-bottom: 62px;
  }
  .works::after {
    height: 41px;
    bottom: -41px;
  }
  .works__wrapper {
    width: 768px;
    padding: 0 64px;
  }
  .works-item {
    display: flex;
    margin-bottom: 40px;
  }
  .works-item:last-child {
    margin-bottom: 0;
  }
  .works-item--work-of-month .works-item__image-wrapper::before {
    top: 35px;
    bottom: auto;
  }
  .works-item--work-of-month .works-item__image-wrapper::after {
    top: 35px;
    bottom: auto;
  }
  .works-item__image-wrapper,
  .works-item__image,
  .works-item--work-of-month .works-item__image-wrapper {
    width: 270px;
    height: auto;
  }
  .works-item__review {
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 44px 50px 10px 50px;
    box-sizing: border-box;
  }
  .works-item__title {
    margin-bottom: 28px;
  }
  .works-item__parameter-list {
    margin-top: auto;
  }
  .price {
    padding-top: 85px;
    padding-bottom: 56px;
  }
  .price::after {
    display: none;
  }
  .price__wrapper {
    width: 768px;
    padding: 0 64px;
  }
  .price__list {
    margin-bottom: 9px;
    box-sizing: border-box;
    border-collapse: collapse;
  }
  .price__title {
    margin-bottom: 43px;
    font-size: 40px;
    text-align: left;
  }
  .price__item,
  .price__index,
  .price__value,
  .price__field,
  .price__option {
    padding: 13px 15px;
    border: 1px solid #4a4a4a;
  }
  .price__index {
    display: table-cell;
    width: 70px;
    padding-left: 26px;
    padding-right: 26px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.3;
  }
  .price__field {
    width: 248px;
    box-sizing: border-box;
  }
  .price__option {
    display: table-cell;
    width: 158px;
    box-sizing: border-box;
  }
  .price__option--mobile {
    display: none;
  }
  .price__value {
    width: 159px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
  }
  .price__offer {
    padding: 40px 40px 40px 184px;
  }
  .price__offer::before {
    width: 72px;
    height: 71px;
    top: calc(50% - (71px / 2));
    left: 26px;
    background-size: 72px 71px;
  }
  .price__offer-text {
    font-size: 30px;
    font-weight: bold;
  }
  .appointment {
    padding-bottom: 76px;
  }
  .appointment::after {
    display: none;
  }
  .appointment__wrapper {
    width: 768px;
    padding: 0 64px;
  }
  .form__initials-container {
    display: flex;
    margin: 0;
    align-items: flex-start;
  }
  .form__field,
  .form__textarea {
    padding: 19px 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .form__field {
    width: 100%;
    margin: 0;
    margin-bottom: 35px;
  }
  .form__field:last-child {
    margin-bottom: auto;
  }
  .form__fieldset {
    margin-bottom: 52px;
    border-top: 1px solid #e5ddd5;
  }
  .form__fieldset:first-child {
    border-top: none;
  }
  .form__fieldset--services {
    margin-bottom: 18px;
  }
  .form__textarea {
    min-height: 210px;
    height: 210px;
  }
  .form__title {
    margin-bottom: 42px;
    padding: 0 26px;
    font-size: 30px;
    line-height: 30px;
    background-color: #f8f5f2;
  }
  .form__beard-container {
    justify-content: space-between;
    padding: 0 10px;
  }
  .form__radio-label {
    padding-top: 80px;
    padding-bottom: 135px;
    margin: 0;
    font-size: 24px;
  }
  .form__service-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 0;
  }
  .form__checkbox-label {
    width: 320px;
    margin-bottom: 37px;
    box-sizing: border-box;
    align-self: flex-start;
    font-size: 24px;
    line-height: 30px;
  }
  .form__button {
    padding: 20px 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .page-footer--inner {
    padding-top: 53px;
  }
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    padding: 0 64px;
  }
  .page-footer__contacts {
    order: 1;
    margin-bottom: 0;
  }
  .contacts__title,
  .contacts__address,
  .contacts__phone {
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
  }
  .contacts__title {
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .contacts__phone {
    font-weight: normal;
  }
  .contacts__phone-mobile {
    display: inline-block;
  }
  .page-footer__social {
    order: 3;
    width: 100%;
    margin-top: 50px;
  }
  .social__item {
    width: 33.3%;
  }
  .social__link {
    display: block;
  }
  .social__link::after {
    width: 100%;
  }
  .page-footer__copyright {
    order: 2;
  }
  .copyright__link {
    margin: 0;
  }
  .modal__login {
    width: 460px;
    margin-top: 130px;
    padding-top: 54px;
    padding-bottom: 57px;
  }
  .modal__wrapper {
    position: relative;
    width: 460px;
    padding: 0 70px;
  }
  .modal__title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .modal__login-label::after,
  .modal__password-label::after {
    right: 25px;
  }
  .modal__login-field,
  .modal__password-field {
    padding: 19px 60px 19px 24px;
    font-size: 24px;
  }
  .modal__restore-container {
    margin-bottom: 33px;
  }
  .modal__submit {
    width: 100%;
    padding: 13px 20px;
  }
  .modal__submit-tablet {
    display: inline;
  }
  .modal__close {
    position: absolute;
    padding: 0;
    width: 26px;
    height: 26px;
    top: 0;
    right: -77px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
  }
  .modal__close::before,
  .modal__close::after {
    position: absolute;
    content: "";
    top: calc(50% - (2px / 2));
    left: 0;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
  .modal__close::after {
    transform: rotate(45deg);
  }
  .modal__close:hover {
    border-color: transparent;
  }
  .modal__close:active {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo-link {
    background-image: url("../img/bg-desktop.jpg");
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .page-header__logo-link {
    height: 648px;
    background-image: url("../img/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-header__logo-link--inner {
    height: 308px;
  }
  .page-header__logo-image {
    margin-top: 58px;
  }
  .main-navigation__wrapper {
    width: 960px;
  }
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__link {
    padding-right: 32px;
    padding-left: 32px;
  }
  .site-list__link--active::after {
    right: 30px;
    left: 30px;
  }
  .site-list__link[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__link[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 0.9;
  }
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__login {
    width: auto;
    height: auto;
    padding: 25px 22px 25px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon g {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
  .user-list__login-icon {
    left: 20px;
  }
  .stats {
    display: flex;
    margin-top: -160px;
  }
  .stats__header {
    width: 240px;
    flex-grow: 1;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }
  .stats__intro {
    width: auto;
    margin-top: 0;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }
  .stats__list {
    width: 640px;
    flex-grow: 1;
  }
  .advantages {
    padding-top: 80px;
    padding-bottom: 42px;
  }
  .advantages::after {
    height: 68px;
  }
  .advantages__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    width: 320px;
    margin: 0;
    padding: 0;
  }
  .advantages__item::before {
    display: block;
    float: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .advantages__item::after {
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    height: 100%;
    width: 1px;
  }
  .advantages__title,
  .advantages__description {
    text-align: center;
  }
  .advantages__description {
    padding: 0 40px;
  }
  .news {
    padding-top: 126px;
    padding-bottom: 20px;
  }
  .news__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .news__title {
    margin: 0;
    margin-left: 70px;
  }
  .news__list {
    margin-top: 50px;
  }
  .news__item:nth-child(n + 3) {
    display: list-item;
  }
  .news__description {
    padding-right: 40px;
  }
  .reviews {
    padding-bottom: 46px;
  }
  .reviews::after {
    display: none;
  }
  .reviews__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .reviews__title {
    margin-left: 70px;
  }
  .reviews__list {
    width: 100%;
    margin-bottom: 42px;
  }
  .reviews__item {
    width: 100%;
    margin: 0 20px;
    margin-left: 270px;
    padding-left: 65px;
  }
  .reviews__author-picture {
    width: 250px;
    height: 160px;
    top: -1px;
    left: -251px;
  }
  .reviews__author-image {
    width: 250px;
    height: 160px;
    border-radius: 0;
    background-size: cover;
  }
  .reviews__author-text {
    padding-right: 80px;
  }
  .reviews__toggles {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
  }
  .page-main--inner {
    padding-top: 58px;
  }
  .page-main--inner::before {
    height: 64px;
    top: -64px;
  }
  .page-title,
  .works__wrapper,
  .price__wrapper,
  .appointment__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .page-title {
    margin-bottom: 79px;
  }
  .works {
    padding-bottom: 48px;
  }
  .works::after {
    display: none;
  }
  .works__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .works-item--work-of-month {
    position: relative;
  }
  .works-item--work-of-month .works-item__image-wrapper,
  .works-item--work-of-month .works-item__image,
  .works-item--work-of-month .works-item__review {
    width: 480px;
  }
  .works-item--work-of-month .works-item__review {
    padding: 129px 40px 0 40px;
  }
  .works-item--work-of-month .works-item__text {
    padding-right: 120px;
  }
  .works-item--work-of-month .works-item__image-wrapper {
    position: static;
  }
  .works-item--work-of-month .works-item__image-wrapper::before {
    padding: 12px 20px 11px 15px;
    left: auto;
    right: 0;
  }
  .works-item--work-of-month .works-item__image-wrapper::after {
    left: auto;
    right: 160px;
    transform: rotate(180deg);
  }
  .works-item:last-child {
    margin-bottom: 40px;
  }
  .works-item:not(:first-child) {
    flex-direction: column;
    width: 294px;
  }
  .works-item__image-wrapper {
    width: 292px;
  }
  .works-item__image {
    width: 100%;
  }
  .works-item__review {
    width: auto;
    flex-grow: 1;
    padding: 30px 30px 0 35px;
  }
  .price {
    padding-top: 78px;
    padding-bottom: 83px;
  }
  .price__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .price__title {
    width: 100%;
  }
  .price__list {
    width: 630px;
    margin: 0;
  }
  .price__offer {
    width: 269px;
    padding: 200px 70px 20px 70px;
  }
  .price__offer::before {
    width: 142px;
    height: 139px;
    top: 34px;
    left: calc(50% - (142px / 2));
    background-size: 142px 139px;
  }
  .price__offer-text {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  .appointment {
    padding-bottom: 87px;
  }
  .form__fieldset {
    margin-bottom: 68px;
  }
  .form__fieldset--services {
    margin-bottom: 45px;
  }
  .form__title {
    margin-bottom: 48px;
  }
  .form__title--services {
    margin-bottom: 60px;
  }
  .form__initials-container {
    justify-content: space-between;
  }
  .form__initials-container .form__field {
    width: 295px;
  }
  .form__contacts-container {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
  .form__contacts-container .form__field {
    width: 462px;
  }
  .form__fieldset--beards {
    margin-bottom: 52px;
  }
  .form__beard-container {
    padding: 0 40px;
  }
  .page-footer {
    padding-top: 53px;
    padding-bottom: 60px;
  }
  .page-footer__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
  .page-footer__contacts {
    order: 0;
  }
  .page-footer__social {
    width: auto;
    margin-top: 0;
    margin-left: 80px;
    order: 2;
  }
  .social__title {
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: center;
  }
  .social__list {
    margin: 0;
  }
  .social__item {
    width: auto;
    height: auto;
    margin: 0 6px;
  }
  .social__item:first-child {
    margin-left: 0;
  }
  .social__item:last-child {
    margin-right: 0;
  }
  .social__link {
    width: 50px;
    height: 50px;
  }
  .social__link::after {
    width: 50px;
    height: 50px;
  }
  .social__link--vk::after {
    background-size: 15px 17px;
  }
  .social__link--facebook::after {
    background-size: 10px 21px;
  }
  .social__link--instagram::after {
    background-size: 20px 20px;
  }
  .page-footer__copyright {
    margin-left: auto;
  }
  .copyright__link {
    padding: 10px 20px;
  }
}
